* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url(https://images.pexels.com/photos/20763688/pexels-photo-20763688.jpeg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  padding: 20px;
}

.form-container {
  background-color: rgba(212, 212, 212, 0.5);
  width: 100%;
  max-width: 1000px;
  padding: 30px;
  border-radius: 10px;
  color: rgb(56, 56, 56);
}

.form-header {
  font-size: 24px;
  font-weight: 600;
}

.about-form {
  margin: 20px 0 40px;
  font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

fieldset,
form > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

span {
  display: block;
  font-size: 14px;
}

.inputs,
.inputs-row {
  width: 75%;
  flex-shrink: 0;
}

.inputs-row {
  display: flex;
  gap: 15px;
}

.inputs-row > label {
  flex: 1;
  display: block;
}

.inputs-row input {
  width: 100%;
}

input,
select,
textarea {
  background-color: rgba(212, 212, 212, 0.75);
  border: 1px solid rgb(56, 56, 56);
  border-radius: 10px;
  padding: 10px;
}

input:valid {
  border: 2px solid #52825c;
}

input:invalid {
  border: 2px solid lightcoral;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  background-color: #467651;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  margin-left: auto;
  width: 75%;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #80ae8a;
}
